<article class="card">
  <section class="header">
    <h4>Cliente: {{vm.cliente.nombre}} ({{vm.cliente.usuario}})</h4>
  </section>
  <div class="block">

    <!-- Nav tabs -->
    <ul class="tabs" role="tablist">
      <li class="nav-item"><a href="#datos-generales" ng-click="vm.selectTab('datos-generales')" ng-class="{ active: vm.tab === 'datos-generales' }" role="tab" data-toggle="tab">Datos Generales</a></li>
      <li class="nav-item"><a href="#tabuladores" ng-click="vm.selectTab('tabuladores')" ng-class="{ active: vm.tab === 'tabuladores' }" role="tab" data-toggle="tab">Tabuladores</a></li>
      <li class="nav-item"><a href="#razones-sociales" ng-click="vm.selectTab('razones-sociales')" ng-class="{ active: vm.tab === 'razones-sociales' }" role="tab" data-toggle="tab">Razones sociales</a></li>
      <li class="nav-item"><a href="#movimientos" ng-click="vm.selectTab('movimientos')" ng-class="{ active: vm.tab === 'movimientos' }" role="tab" data-toggle="tab">Movimientos</a></li>
      <li class="nav-item save"><a role="tab" ng-click="vm.save()"><i></i> Guardar</a></li>
      <li class="nav-item back"><a ui-sref="clienteIndex" role="tab"><i></i> Regresar</a></li>
    </ul>

    <div class="cliente-form">
      <fieldset>
        <!-- Tab panels -->
        <article>
          <form class="item-form" novalidate>
            <fieldset>

              <!-- Datos Generales -->
              <div ng-show="vm.tab === 'datos-generales'" class="card borderless">

                <div class="block">
                  <div class="card">
                    <div class="header">
                      <h5>Datos para usuario</h5>
                    </div>
                    <div class="row block">
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="usuario">Usuario:</label>
                          <input type="text" name="usuario" id="usuario" ng-model="vm.cliente.usuario" class="form-control">
                        </fieldset>
                      </div>

                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" name="email" id="email" class="form-control" ng-model="vm.cliente.email" required placeholder="">
                        </fieldset>
                      </div>

                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="email2">Repite email:</label>
                          <input type="email" name="email2" id="email2" class="form-control" ng-model="vm.model.email2" ng-match="email" placeholder="">
                        </fieldset>
                      </div>

                      <span data-ng-show="vm.model.email2.$error.match">Emails have to match!</span>

                    </div>
                  </div>
                </div>

                <div class="block">
                  <div class="card">
                    <div class="header">
                      <h5>Datos personales</h5>
                    </div>
                    <div class="row block">
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="nombre">Nombre:</label>
                          <input type="text" id="nombre" name="nombre" ng-model="vm.cliente.nombre" class="form-control" required="" placeholder="">
                        </fieldset>
                      </div>

                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="autorizado">Autorizado:</label>
                          <input type="text" id="autorizado" name="autorizado" ng-model="vm.cliente.autorizaciones.nombre" class="form-control" placeholder="">
                        </fieldset>
                      </div>
                    </div>

                    <div class="row block">
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="sexo">Sexo:</label>
                          <input type="text" name="sexo" id="sexo" ng-model="vm.cliente.sexo">
                        </fieldset>
                      </div>
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                          <input type="text" id="fecha_nacimiento" ng-model="vm.cliente.fecha_nacimiento" class="form-control" placeholder="">
                        </fieldset>
                      </div>
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="nombre">Ocupación:</label>
                          <input type="text" id="ocupacion" ng-model="vm.cliente.ocupacion" class="form-control">
                        </fieldset>
                      </div>
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="telefono">Teléfono:</label>
                          <input type="text" id="telefono" ng-model="vm.cliente.telefono" class="form-control" placeholder="">
                        </fieldset>
                      </div>
                      <div class="col-lg-4">
                        <fieldset class="form-group">
                          <label for="celular">Celular:</label>
                          <input type="text" id="celular" ng-model="vm.cliente.celular" class="form-control">
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="block">
                  <div class="card">
                    <div class="header">
                      <h5>Sistema</h5>
                    </div>
                    <div class="row block">
                      <div class="row block">
                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="cliente_estatus_id">Estatus:</label>
                            <select id="cliente_estatus_id" class="form-control" required
                                    ng-model="vm.cliente.cliente_estatus_id"
                                    ng-options="estatus.id as estatus.nombre for estatus in vm.estatus | orderBy:'nombre'" >
                              <option value="">Seleccione un estatus</option>
                            </select>

                            <div ng-show="form.$submitted || form.cliente_estatus_id.$touched">
                              <span ng-show="form.cliente_estatus_id.$error.required">Elige el estatus.</span>
                            </div>

                          </fieldset>
                        </div>
                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="rol_id">Rol:</label>
                            <select id="rol_id" class="form-control" required
                                    ng-model="vm.cliente.rol_id"
                                    ng-options="roles.id as roles.nombre for roles in vm.roles | orderBy:'nombre'">
                              <option value="">Seleccione un rol</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="empleado_id">Vendedor:</label>
                            <select id="empleado_id" class="form-control"
                                    ng-model="vm.cliente.empleado_id"
                                    ng-options="empleados.id as empleados.nombre for empleados in vm.empleados | orderBy:'id'">
                              <option value="">Seleccione un vendedor</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="cliente_referencia_id">Referencia:</label>
                            <select id="cliente_referencia_id" class="form-control" required
                                    ng-model="vm.cliente.cliente_referencia_id"
                                    ng-options="referencias.id as referencias.nombre for referencias in vm.referencias | orderBy:'id'">
                              <option value="">Seleccione una referencia</option>
                            </select>
                          </fieldset>

                          <div ng-show="form.$submitted || form.cliente_referencia_id.$touched">
                            <span ng-show="form.cliente_referencia_id.$error.required">Elige una referencia.</span>
                          </div>

                        </div>
                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="sucursal_id">Sucursal:</label>
                            <select id="sucursal_id" class="form-control" required
                                    ng-model="vm.cliente.sucursal_id"
                                    ng-options="sucursales.id as sucursales.nombre for sucursales in vm.sucursales | orderBy:'nombre'">
                              <option value="">Seleccione una sucursal</option>
                            </select>
                          </fieldset>

                          <div ng-show="form.$submitted || form.sucursal_id.$touched">
                            <span ng-show="form.sucursal_id.$error.required">Elige una sucursal predeterminada.</span>
                          </div>

                        </div>

                        <div class="col-lg-4">
                          <fieldset class="form-group">
                            <label for="fecha_expira_club_zegucom">Club Zegucom:</label>
                            <input type="text" id="fecha_expira_club_zegucom" ng-model="vm.cliente.fecha_expira_club_zegucom" class="form-control">
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Tabuladores -->
              <section ng-show="vm.tab === 'tabuladores'" class="card borderless">

                <div class="block">
                  <div class="card">
                    <table class="table table-striped">
                      <tr>
                        <thead>
                        <th>Sucursal</th>
                        <th>Tabulador</th>
                        <th>Venta Especial</th>
                        </thead>
                      </tr>
                      <tr ng-repeat="tabulador in vm.cliente.tabuladores">
                        <th ng-bind="tabulador.sucursal.nombre"></th>
                        <td><div class="col-xs-3"><input type="text" ng-model="tabulador.tabulador"></div></td>
                        <td class="left">
                          <div ng-switch on="tabulador.venta_especial">
                            <span ng-switch-when="1">Si</span>
                            <span ng-switch-when="0">No</span>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </section>

              <!-- Razones Sociales -->
              <section ng-show="vm.tab === 'razones-sociales'" class="card borderless">

                <div class="block actions">
                  <div class="action-buttons" role="group" aria-label="Acciones">
                    <button type="button" class="create" ui-sref="razonSocialNew"><i></i> Agregar Razón Social</button>
                  </div>
                </div>

                <div class="block">
                  <div class="card">

                    <table class="table table-striped">
                      <tr>
                        <thead>
                        <th>Razón Social</th>
                        <th>Rfc</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                        </thead>
                      </tr>
                      <tr ng-repeat="razon_social in vm.cliente.razones_sociales">
                        <th ng-bind="razon_social.razon_social"></th>
                        <td ng-bind="razon_social.rfc"></td>

                        <td class="left">
                          <div ng-switch on="tabulador.venta_especial">
                            <span ng-switch-when="1">Si</span>
                            <span ng-switch-when="0">No</span>
                          </div>
                        </td>
                        <td>
                          <button type="button" class="edit" ui-sref="razonSocialEdit({id:vm.cliente.razones_sociales.id})"><i></i></button>
                        </td>
                      </tr>
                    </table>

                    <div class="block">
                      <div class="block alert alert-warning" role="alert" ng-hide="vm.clientes"><i></i> No se han registrado Razones Sociales para este cliente.</div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- Movimientos -->
              <section ng-show="vm.tab === 'movimientos'" class="card borderless">
                Movimientos...
              </section>
            </fieldset>

          </form>
        </article>
      </fieldset>
    </div>
  </div>
</article>
