<!-- views/empleadoView.html -->

<div class="col-sm-6 col-sm-offset-3">
	<div class="well">
		<h3>Empleados</h3>
		<button class="btn btn-primary" style="margin-bottom: 10px" ng-click="empleado.getEmpleados()">Obtener empleados!</button>
		<ul class="list-group" ng-if="empleado.empleados">
			<li class="list-group-item" ng-repeat="empleado in empleado.empleados">
				<h4>{{empleado.nombre}}</h4>
				<h5>{{empleado.puesto}}</h5>
			</li>
		</ul>
		<div class="alert alert-danger" ng-if="empleado.errores">
			<strong>Hubo un error: </strong> {{empleado.errores.error}}
			<br>Por favor accede de nuevo
		</div>
	</div>
</div>
