nav.top-navbar {

  @extend .navbar;
  @extend .navbar-fixed-top;

  background-color: $gray-suit;
  height: 50px;
  padding-right: 0;

  .brand {

    @extend .navbar-brand;

    cursor: default;
    display: block;
    margin-right: 20px;
  }

  .hamburguer {
    @extend .navbar-toggler;

    color: $alto;
    display: none;
    float: left;
  }
}

ul.module-list {

  @extend .nav;
  @extend .navbar-nav;
}

li.module-list-item {

  @extend .nav-item;
  @extend .dropdown;

  @media (min-width: 106.2rem) {
    padding: 0 15px;
  }

  background-color: $gray-suit;
  min-height: 50px;
  margin-left: 0 !important;
  margin-top: -8px;
  padding: 0 10px;

  &.active {
    background-color: $mine-shaft;
    transition: background-color 400ms ease-in-out;
    .module-style {
      background-color: $mine-shaft;
      color: $white;
      font-weight: 700;
      transition: background-color 400ms ease-in-out;
    }
  }

  &:hover {
    @extend .active;
  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
}

a.module-style {

  @extend .nav-link;
  @extend .dropdown-toggle;

  @media (min-width: 106.2rem) {
    font-size: 20px;
    padding: 10px 0 !important;
  }

  background-color: $gray-suit;
  color: $alto;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin-right: 0;
  padding: 13px 0 !important;
}

li.module-list-item,
li.submodule-list-item {

  &:hover {
    .menu {
      display: block;
    }
  }
}

div.action-menu,
div.empleado-menu,
div.submodule-menu {

  @extend .dropdown-menu;

  @include transition(all 0.2s ease-in-out);

  border: 1px solid $alto;
  border-radius: 0;
  border-top: 0;
  display: none;
  margin-top: 0;
  min-width: 140px;
  opacity: 0;
  width: auto;
}

div.action-menu {

  left: 0;
  max-width: 300px;
  position: absolute;
  top: -6px;
  z-index: -3;

  &.show {
    left: 100%;
  }
}

div.empleado-menu,
div.submodule-menu {

  @include transform(translateY(-100%));

  @media (min-width: 106.2rem) {
    max-width: 180px;
  }

  max-width: 155px;
  z-index: -2;

  &.show {
    @include transform(translateY(0%));
  }
}

div.action-menu.show,
div.empleado-menu.show,
div.submodule-menu.show {

  opacity: 1;
}

ul.action-list,
ul.empleado-list,
ul.submodule-list {

  padding: 0;
}

li.action-list-item,
li.empleado-item,
li.submodule-list-item {

  @extend .dropdown-item;

  min-height: 40px;
  padding: 7.5px 15px;
  position: relative;
  transition: background-color 400ms ease-in-out;

  &:hover {
    background-color: $alto;
    color: $gray-suit;
    transition: background-color 400ms ease-in-out;
  }
}

a.action-style,
a.empleado-style,
a.submodule-style {

  @include normalize_link($gray-suit);

  cursor: pointer;
  display: block;
  font-style: italic;
  font-weight: 300;
  height: 100%;
  left: 0;
  max-width: 140px;
  top: 0;
  width: 100%;

  span {
    @include word-wrap(normal, pre-wrap);
  }
}

a.submodule-style {

  .caret {
    @extend .pull-right;
    position: absolute;
    font-style: normal;
    right: 4px;
  }
}
