li.module-list-item.list-item {

  &.empleado {

    float: right;
    padding-right: 0;

    @media (min-width: 106.2rem) {
      width: 140px;
    }

    background-color: $persian-red;
    max-width: 140px;
    text-align: center;
    width: 120px;
  }
}

a.empleado-style {

  text-align: right;

  span {
    @include word-wrap(break-word, pre-wrap);
  }

  &.nav {

    @include normalize_link($alto);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 25%;
  }
}

div.empleado-menu {

  @extend .dropdown-menu-right;

  border: 1px solid $persian-red;
  min-width: 180px;
}

ul.empleado-list {
}

li.empleado-item {

  &.danger {

    &:hover {
      background-color: $persian-red;
    }
  }
}
