.module-navbar {

  &.empleado {
    float: right;
    padding-right: 0;
  }

  .item {
    &.empleado {

      text-align: right;

      span {
        @include word-wrap(break-word, pre-wrap);
      }
    }
  }
}

.module-category {

  &.empleado {
    background-color: $persian-red;
    color: $alto;
    max-width: 140px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
  }
}

.menu {

  &.empleado {

    @extend .dropdown-menu-right;

    border: 1px solid $persian-red;
  }
}
