.top-navbar {

  @extend .navbar;
  @extend .navbar-fixed-top;
  background-color: $gray-suit;
  height: 50px;
  padding-right: 0;

  a {
    @extend .navbar-brand;
    margin-right: 20px;
  }

  .logout {
    background-color: $persian-red;
    float: right;
    height: 50px;
    line-height: 2.25rem;
    margin-top: -8px;
    padding: 0 15px;
    text-align: center;
    a {
      color: $alto;
      font-size: 1.25rem;
      margin-right: 0;

      &:hover {
        color: $white;
      }
    }
  }
}

.modules-navbar {
  @extend .nav;
  @extend .navbar-nav;

  .module-navbar {
    @extend .nav-item;
    line-height: 2.25rem;
    margin-left: 0 !important;
    margin-top: -8px;
    padding: 0 15px;

    a {
      @extend .nav-link;
      color: $alto;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 300;
      margin-right: 0;
    }

    &.active {
      background-color: $mine-shaft;
      a {
        color: $white;
        font-weight: 700;
      }
    }

    &:hover {
      @extend .active;
    }

  }
}
