@media (max-width: 83.75rem) {

nav.top-navbar {

}

ul.module-list {

  @include make-col();
  @include make-col-span(4);

  height: 100vh;
  left: 0;
  margin-top: 50px;
  padding-left: 0;
  position: fixed;
}

li.module-list-item {

  float: none !important;
}

div.empleado-menu,
div.submodule-menu {

  @include transform(none);
  z-index: 1;
  top: 0;

  &.show {
    @include transform(none);
    position: relative;
  }
}

}
