<!-- views/empleadoView.html -->
<h1>Empleados</h1>
<hr>
<div class="col-sm-6 col-sm-offset-3">
	<div>
		<button class="btn btn-primary obtener-empleados" ng-click="vm.getEmpleados()">Obtener empleados!</button>
		<section ng-if="vm.empleados">

			<article class="card card-block" ng-repeat="empleado in vm.empleados">
					<h4 class="card-title">{{empleado.nombre}}</h4>
					<p class="card-text">{{empleado.puesto}}</p>
			</article>

		</section>
		<div class="alert alert-danger" ng-if="vm.errores">
			<strong>Hubo un error: </strong> {{vm.errores.error}}
			<br>Por favor accede de nuevo
		</div>
	</div>
</div>
