<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>./tests/models/</directory>
        </testsuite>
        <testsuite name="entradas">
            <file>./tests/models/EntradaDetalleTest.php</file>
            <file>./tests/models/EntradaTest.php</file>
            <file>./tests/models/ProductoMovimientoTest.php</file>
            <file>./tests/models/ProductoTest.php</file>
            <file>./tests/models/RazonSocialEmisorTest.php</file>
            <file>./tests/controllers/EntradaControllerTest.php</file>
            <file>./tests/controllers/RazonSocialEmisorControllerTest.php</file>
        </testsuite>
        <testsuite name="clientes">
            <file>./tests/models/ClienteTest.php</file>
            <file>./tests/models/TabuladorTest.php</file>
            <file>./tests/models/SucursalTest.php</file>
            <file>./tests/models/DomicilioClienteTest.php</file>
            <file>./tests/models/DomicilioTest.php</file>
            <file>./tests/models/TelefonoTest.php</file>
            <file>./tests/models/CodigoPostalTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="BROADCAST_DRIVER" value="log"/>
    </php>
    <logging>
      <log type="testdox-text" target="php://stdout"/>
    </logging>
</phpunit>
