.navbar-toggleable {
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }

  &-lg {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }

  &-xl {
    @include media-breakpoint-up(xl) {
      display: block !important;
    }
  }
}

textarea {
  resize: none;
}

.angucomplete-dropdown {
  @media (max-width: 106.1rem) {
    font-size: .75rem;
  }
  overflow-y: auto;
}
