// Font size and format
$font-family-sans-serif: "Roboto";

// Font-Awesome fonts directory
$fa-font-path: "../fonts";

// Color variables
$alto: rgba(210, 210, 210, 1);
$carrot-orange: rgba(236, 151, 31, 1);
$endeavour: rgba(2, 90, 165, 1);
$gray-suit: rgba(65, 65, 65, 1);
$mandy: rgba(231, 75, 80, 1);
$mine-shaft: rgba(35, 35, 35, 1);
$old-brick: rgba(143, 30, 34, 1);
$persian-red: rgba(210, 45, 50, 1);
$sandy-brown: rgba(240, 173, 78, 1);
$science-blue: rgba(2, 117, 216, 1);
$white: rgba(255, 255, 255, 1);

// Color variants
$gray-suit-faded: rgba(65, 65, 65, 0.75);
