// Font size and format
$font-family-sans-serif: "Roboto";
$font-size-root: 10px;

// Color variables
$alto: rgba(210, 210, 210, 1);
$gray-suit: rgba(65, 65, 65, 1);
$mine-shaft: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$persian-red: rgba(210,45,50,1);
