<!-- app/transferencia/index/tabs/entradas.template.html -->
<section class="card borderless">
  <header class="header">
    <h5>Transferencias como entradas</h5>
  </header>

  <article class="block">
    <div class="table-responsive">
      <table class="item-table small-item-table">
        <thead>
        <tr>
          <th class="action" ng-repeat="sortKey in vm.sortKeys" ng-click="vm.sort(sortKey.key)">
            {{sortKey.name}}
          </th>
          <th>Acciones</th>
        </tr>
        </thead>

        <tbody class="left-align">
        <tr dir-paginate="entrada in vm.entradas | orderBy:vm.sortKey:vm.reverse | itemsPerPage:15">
          <td ng-bind="entrada.id"></td>
          <td ng-bind="entrada.created_at"></td>
          <td ng-bind="entrada.sucursal_origen.nombre"></td>
          <td ng-bind="entrada.sucursal_destino.nombre"></td>
          <td ng-bind="entrada.empleado_origen.nombre"></td>
          <td ng-bind="entrada.empleado_destino.nombre"></td>
          <td ng-bind="entrada.estado.nombre"></td>
          <td ng-bind="entrada.empleado_revision.nombre"></td>
          <td class="actions">
            <div class="action-buttons" role="group" aria-label="Acciones">
              <button type="button" class="show one-third" ui-sref="transferenciaShow({id:entrada.id})">
                <i></i>
              </button>
              <button type="button" class="edit one-third" ui-sref="transferenciaCarga({id:entrada.id})"
                      ng-if="vm.cargable(entrada.estado.id)">
                <i></i>
              </button>
              <button type="button" class="delete one-third" ng-click="vm.eliminar(entrada.id)"
                      ng-if="vm.eliminable(entrada.estado.id)">
                <i></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
  </article>
</section>
