<!-- app/producto/show/partials/datos-generales.html -->

<div class="card">
  <div class="block">
    <div class="row">
      <div class="col-lg">
        <fieldset>
          <label for="numero_parte">Número de parte:</label>
          <input type="text" id="numero_parte" ng-model="vm.producto.numero_parte">
        </fieldset>
      </div>
      <div class="col-lg">
        <fieldset>
          <label for="marca_id">Marca:</label>
          <input type="text" id="marca_id" ng-model="vm.producto.marca.nombre">
          </select>
        </fieldset>
      </div>
    </div>
  </div>
</div>
