<!-- app/producto/show/partials/precios.html -->

<!-- Costos -->
<div class="card borderless">
  <article class="block">

    <section class="row">

      <!-- Spiff -->
      <div class="col-sm">
        <fieldset>
          <label for="spiff">Spiff: </label>

          <div class="with-icon">
            <span><i class="money"></i></span>
            <input type="text" id="spiff" ng-model="vm.producto.spiff">
          </div>
        </fieldset>
      </div>

      <!-- Margen -->
      <div class="col-lg">
        <fieldset>
          <label for="margen_id">Margen: </label>
          <input type="text" id="margen_id" ng-model="vm.producto.margen.nombre">
        </fieldset>
      </div>

    </section>
  </article>


  <!-- Precios -->
  <div class="card">
    <article class="header">
      <h5>Precios por proveedor</h5>
    </article>
    <article class="block">

    </article>
  </div>
</div>
