<!-- app/producto/show/partials/precios.html -->

<!-- Costos -->
<div class="card borderless">
  <article class="block">

    <section class="row">

      <!-- Costo -->
      <div class="col-sm">
        <fieldset>
          <label for="costo">Costo: </label>
          <div class="with-icon">
            <span><i class="money"></i></span>
            <input type="text" id="costo" ng-model="vm.precio.costo">
          </div>
        </fieldset>
      </div>

      <!-- Spiff -->
      <div class="col-sm">
        <fieldset>
          <label for="spiff">Spiff: </label>

          <div class="with-icon">
            <span><i class="money"></i></span>
            <input type="text" id="spiff" ng-model="vm.producto.spiff">
          </div>
        </fieldset>
      </div>

      <!-- Margen -->
      <div class="col-lg">
        <fieldset>
          <label for="margen_id">Margen: </label>
          <input type="text" id="margen_id" ng-model="vm.producto.margen.nombre">
        </fieldset>
      </div>

    </section>
  </article>
</div>

<!-- Precios -->
<div class="card">
  <article class="header">
    <h5>Precios</h5>
  </article>
  <article class="block">

    <!-- Precios y Utilidades -->
    <section class="row">
      <!-- izquierda -->
      <div class="col-lg">
        <!-- Precios del 1 al 5 -->
        <div class="col-lg">
          <fieldset>
            <label>Precios ( $ )</label>
            <div class="with-icon">
              <span>1</span>
              <input type="text" id="precio_1" ng-model="vm.precio.precio_1">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>2</span>
              <input type="text" id="precio_2" ng-model="vm.precio.precio_2">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>3</span>
              <input type="text" id="precio_3" ng-model="vm.precio.precio_3">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>4</span>
              <input type="text" id="precio_4" ng-model="vm.precio.precio_4">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>5</span>
              <input type="text" id="precio_5" ng-model="vm.precio.precio_5">
            </div>
          </fieldset>
        </div>

        <!-- Utilidades de 1 al 5 -->
        <div class="col-lg">
          <fieldset>
            <label>Utilidades ( $ )</label>
            <div class="with-icon">
              <span>1</span>
              <input type="text" id="utilidad_1" ng-model="vm.utilidad.utilidad_1">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>2</span>
              <input type="text" id="utilidad_2" ng-model="vm.utilidad.utilidad_2">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>3</span>
              <input type="text" id="utilidad_3" ng-model="vm.utilidad.utilidad_3">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>4</span>
              <input type="text" id="utilidad_4" ng-model="vm.utilidad.utilidad_4">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>5</span>
              <input type="text" id="utilidad_5" ng-model="vm.utilidad.utilidad_5">
            </div>
          </fieldset>
        </div>
      </div>

      <!-- derecha -->
      <div class="col-lg">
        <!-- Precios del 6 al 10 -->
        <div class="col-lg">
          <fieldset>
            <label>Precios ( $ )</label>
            <div class="with-icon">
              <span>6</span>
              <input type="text" id="precio_6" ng-model="vm.precio.precio_6">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>7</span>
              <input type="text" id="precio_7" ng-model="vm.precio.precio_7">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>8</span>
              <input type="text" id="precio_8" ng-model="vm.precio.precio_8">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>9</span>
              <input type="text" id="precio_9" ng-model="vm.precio.precio_9">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>10</span>
              <input type="text" id="precio_10" ng-model="vm.precio.precio_10">
            </div>
          </fieldset>
        </div>

        <!-- Utilidades de 6 al 10 -->
        <div class="col-lg">
          <fieldset>
            <label>Utilidades ( $ )</label>
            <div class="with-icon">
              <span>6</span>
              <input type="text" id="utilidad_6" ng-model="vm.utilidad.utilidad_6">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>7</span>
              <input type="text" id="utilidad_7" ng-model="vm.utilidad.utilidad_7">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>8</span>
              <input type="text" id="utilidad_8" ng-model="vm.utilidad.utilidad_8">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>9</span>
              <input type="text" id="utilidad_9" ng-model="vm.utilidad.utilidad_9">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>10</span>
              <input type="text" id="utilidad_10" ng-model="vm.utilidad.utilidad_10">
            </div>
          </fieldset>
        </div>
      </div>
    </section>

  </article>
</div>
