.permisos-row-actions {

  @include make-container();
  @include make-row();

  .name {

    @include make-col();
    @include make-col-span(8.52);

    align-items: center;
    display: flex;
    min-height: 38px;

    .module-info {

      @include normalize_link($mine-shaft);
      cursor: pointer;

      i {

        @extend .fa;
        @extend .fa-info-circle;
      }
    }
  }

  .action-buttons {

    @include make-col();
    @include make-col-span(3.48);
  }
}
