.permisos-row-actions {

  @include make-container();
  @include make-row();

  .name {

    @include make-col();
    @include make-col-span(6);

    align-items: center;
    display: flex;
    min-height: 38px;
  }

  .action-buttons {

    @include make-col();
    @include make-col-span(4);
    @include make-col-push(2);
  }
}
