<!--app/transferencia/edit/edit.html -->
<div class="card">
  <div class="header">
    <h4>Editar transferencia #{{vm.transferencia.id}}</h4>
  </div>
  <div class="block">
    <section class="transferencia-datos">
      <header>Datos de transferencia</header>
      <hr>
      <article class="half-left">
        <p>Número: <span ng-bind="vm.transferencia.id"></span></p>
        <p>Fecha creada: <em><span ng-bind="vm.transferencia.created_at"></span></em></p>
        <p>Fecha transferencia: <em><span ng-bind="vm.transferencia.fecha_transferencia"></span></em></p>
        <p>Fecha recepción: <em><span ng-bind="vm.transferencia.fecha_recepcion"></span></em></p>
      </article>
      <article class="half-right">
        <p>Estado: <span ng-bind="vm.transferencia.estado.nombre"></span></p>
        <p>Origen: <span ng-bind="vm.transferencia.sucursal_origen.nombre"></span></p>
        <p>Destino: <span ng-bind="vm.transferencia.sucursal_destino.nombre"></span></p>
        <p>Crea: <span ng-bind="vm.transferencia.empleado_origen.nombre"></span></p>
      </article>
    </section>
    <section class="transferencia-detalles">
      <header>Detalles de transferencia</header>
      <hr>
      <div class="agregar-producto">
        <form class="item-form" name="detalleEditForm" novalidate>
          <fieldset class="cantidad">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" ng-model="vm.detalle.cantidad">
          </fieldset>
          <fieldset class="upc">
            <label for="upc">UPC:</label>
            <input type="text" id="upc" name="upc" ng-model="vm.detalle.upc">
          </fieldset>
          <fieldset class="agregar">
            <a ng-click="vm.agregarDetalle()" class="button primary">Agregar</a>
          </fieldset>
        </form>
      </div>
      <article>
        <table class="item-table small-item-table">
          <thead>
          <tr>
            <th class="action">UPC</th>
            <th class="action">Clave</th>
            <th class="action">Descripción</th>
            <th class="action">Cantidad</th>
            <th class="action">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="detalle in vm.transferencia.detalles">
            <td ng-bind="detalle.producto.upc"></td>
            <td ng-bind="detalle.producto.clave"></td>
            <td ng-bind="detalle.producto.descripcion"></td>
            <td ng-bind="detalle.cantidad"></td>
            <td class="actions">
              <div class="action-buttons" role="group" aria-label="Acciones">
                <button type="button" class="delete" ng-click="vm.removerDetalle(detalle)"><i></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </article>
    </section>
    <div class="actions">
      <a ng-click="vm.back()" class="button secondary">Regresar</a>
    </div>
  </div>
</div>
