.domicilios-directive {
  @include make-container();
  @include make-row();

  input[type="text"],
  select {
    font-size: .75rem;
  }

  @media (max-width: 106.1rem) {
    max-height: 50vh;
    th {
      font-size: .75rem;
    }

    input[type="text"],
    select {
      font-size: .625rem;
    }
  }

  .add-item {
    @extend .btn;
    @extend .btn-primary;

    i {
      @extend .fa;
      @extend .fa-plus-circle;
    }
  }

}
