<!-- app/rol/empleados/empleados.html -->
<section class="search-card">
  <div class="header">
    <h4>Empleados del rol {{vm.rol.nombre}}</h4>
  </div>
  <div class="block">
    <div class="row">
      <div class="form">
        <form>
          <div class="field">
            <label>Buscar:</label>
            <input type="text" ng-model="vm.search" autofocus>
          </div>
        </form>
        <form>
          <div class="index-checkboxes">
            <label>
              Mostrar activos
              <input type="checkbox" ng-model="vm.active" ng-click="vm.toggleActives()">
              <span></span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="empleados-roles">
  <div class="roles-list">
    <table class="roles-table">
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre del Empleado</th>
        <th>Sucursal</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="roles-row"
          dir-paginate="empleado in vm.empleados | orderBy:'nombre' | filter:vm.search | itemsPerPage:10">
        <td>{{empleado.usuario}}</td>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.sucursal.clave}}</td>
        <td class="roles-actions">
          <div class="action-buttons">
            <button type="button" class="attach"
                    ng-class="{selected: vm.rolHas(empleado)}"
                    ng-click="vm.attach(empleado)"><i></i></button>
            <button type="button" class="detach"
                    ng-class="{selected: vm.rolDoesntHave(empleado)}"
                    ng-click="vm.detach(empleado)"><i></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <loader model="vm.empleados"></loader>
  </div>
</div>
<div class="paginator">
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
  <div class="history">
    <a ng-click="vm.back()" class="button primary">Regresar</a>
  </div>
</div>
