<!-- views/empleadoView.html -->

<div class="col-sm-6 col-sm-offset-3">
	<div>
		<h3>Empleados</h3>
		<button class="btn btn-primary obtener-empleados" ng-click="empleado.getEmpleados()">Obtener empleados!</button>
		<section ng-if="empleado.empleados">

			<article class="card card-block" ng-repeat="empleado in empleado.empleados">
					<h4 class="card-title">{{empleado.nombre}}</h4>
					<p class="card-text">{{empleado.puesto}}</p>
			</article>

		</section>
		<div class="alert alert-danger" ng-if="empleado.errores">
			<strong>Hubo un error: </strong> {{empleado.errores.error}}
			<br>Por favor accede de nuevo
		</div>
	</div>
</div>
