<!-- app/layout/layout.html-->

<!-- Navigation Bar-->
<div ng-controller="NavbarController as vm" nav-bar></div>
<!-- Main Container -->
<div class="main-container">
    <!-- Module view -->
    <section ui-view class="module-container">
    </section>
    <!-- Notification Panel view -->
    <aside class="notification-bar">
      <div class="card card-inverse" style="background-color: #333; border-color: #333; text-align: center; height: 60px">
        <div class="card-block">
          <h3 class="card-title">Notificaciones</h3>
        </div>
      </div>
      <div class="card card-inverse card-primary text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card card-inverse card-success text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card card-inverse card-info text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card card-inverse card-warning text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card card-inverse card-danger text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </aside>
</div>
