<!-- app/layout/layout.html-->

<!-- Navigation Bar-->
<div ng-controller="NavbarController as vm" nav-bar></div>
<!-- Main Container -->
<div class="main-container">
  <div class="view">
    <!-- Module view -->
    <div class="module-container">
      <div ui-view></div>
    </div>
    <!-- Notification Panel view -->
    <div class="notification-bar">
      <h2>Notificaciones</h2>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
