<!-- app/producto/index/index.html -->
<div class="product-search-card">
  <div class="header">
    <h4>Productos</h4>
  </div>
  <section class="block">
    <section class="product-search" id="product-search">
      <form id="productSearchForm" ng-submit="vm.productSearch()">
        <fieldset>
          <div>
            <span class="search-span" id="producto-search-clave"><i class="clave"></i></span>
            <input type="text" placeholder="Clave" aria-describedby="producto-search-clave" ng-model="vm.search.clave">
          </div>
        </fieldset>

        <fieldset>
          <div>
            <span class="search-span" id="producto-search-descripcion"><i class="descripcion"></i></span>
            <input type="text" placeholder="Descripción" aria-describedby="producto-search-descripcion"
                   ng-model="vm.search.descripcion">
          </div>
        </fieldset>

        <fieldset>
          <div>
            <span class="search-span" id="producto-search-numero-parte"><i class="numero-parte"></i></span>
            <input type="text" placeholder="Num. de parte" aria-describedby="producto-search-numero-parte"
                   ng-model="vm.search.numero_parte">
          </div>
        </fieldset>

        <fieldset>
          <div>
            <span class="search-span" id="producto-search-upc"><i class="upc"></i></span>
            <input type="text" placeholder="UPC" aria-describedby="producto-search-upc" ng-model="vm.search.upc">
          </div>
        </fieldset>

      </form>
    </section>

    <section class="product-search-actions">
      <div class="action-buttons" aria-label="Acciones">
        <button type="submit" class="show" form="productSearchForm"><i></i><span class="hide"> Buscar</span></button>
        <button type="button" class="create" ng-click="vm.next()"><i></i><span class="hide"> Nuevo</span></button>
      </div>
    </section>
  </section>
</div>

<div class="table-responsive">
  <table class="item-table">
    <thead class="sortable">
    <tr>
      <th class="action" ng-repeat="sortKey in vm.sortKeys" ng-click="vm.sort(sortKey.key)">
        {{sortKey.name}}
      </th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="producto in vm.productos | orderBy:vm.sortKey:vm.reverse | filter:vm.search | itemsPerPage:15">
      <th scope="row">{{producto.id}}</th>
      <td><a ui-sref="productoShow({id:producto.id})">{{producto.clave}}</a></td>
      <td ng-bind="producto.upc"></td>
      <td ng-bind="(producto.descripcion | limitTo:55) + '...'"></td>
      <td ng-bind="producto.numero_parte"></a></td>

      <td class="actions">
        <div class="action-buttons" role="group" aria-label="Acciones">
          <button type="button" class="edit" ui-sref="productoEdit({id:producto.id})"><i></i></button>
          <button type="button" class="delete" ng-click="vm.delete(producto.id)"><i></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <loader ng-show="vm.searching" model="vm.productos"></loader>
</div>
<div class="paginator">
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>
