.miller-row {
  text-transform: capitalize;
  transition: all 500ms ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.selected {

    @extend .table-warning;

    font-weight: 700;
  }
}

.miller-row-input {
  input {
    @extend .form-control;
    @extend .text-center;
    padding-left: 2px;
    padding-right: 2px;
  }
}
