<div class="field">
  <input type="{{options.templateOptions.type || 'text'}}"
         id="{{id}}"
         formly-dynamic-name="id"
         formly-custom-validation="options.validators"
         placeholder="{{options.templateOptions.placeholder}}"
         aria-describedby="{{id}}_description"
         ng-required="options.templateOptions.required"
         ng-disabled="options.templateOptions.disabled"
         autocomplete="{{options.templateOptions.autocomplete || 'off'}}"
         ng-model="model[options.key]">
</div>
