<p ng-message="required">Este campo es requerido</p>
<p ng-message="minlength">Este campo es muy corto</p>
<p ng-message="maxlength">Este campo es muy largo</p>
<p ng-message="min">El valor para este campo es muy bajo</p>
<p ng-message="max">El valor para este campo es muy alto</p>
<p ng-message="pattern">El campo tiene un formato inválido</p>
<p ng-message="alphanum">Debe ser alfanumérico</p>
<p ng-message="alpha">Debe contener solo letras</p>
<p ng-message="numeric">Debe contener solo números</p>
<p ng-message="email">Se requiere un email válido</p>
<p ng-message="url">La url no es válida</p>
