<!-- app/templates/components/existencias.html -->
<section class="card borderless productos-existencias">
  <header class="header">
    <h5>Existencias del producto</h5>
  </header>

  <article class="block">
    <div class="table-responsive">
      <table class="item-table producto-existencias-table">
        <thead>
        <tr>
          <th class="action">Sucursal</th>
          <th class="action">Cantidad</th>
          <th class="action">Pretransferencia</th>
          <th class="action">Pretransferencia Dest.</th>
          <th class="action">Transferencia</th>
          <th class="action">Apartado</th>
          <th class="action">Garantia Cliente</th>
          <th class="action">Garantia Zegucom</th>
          <th class="action" ng-if="!vm.readOnly"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="producto in vm.existencias" ng-class="{'table-info': vm.local(producto)}">
          <td ng-bind="producto.nombre"></td>
          <td ng-bind="producto.cantidad"></td>
          <td ng-bind="producto.cantidad_pretransferencia"></td>
          <td ng-bind="producto.cantidad_pretransferencia_destino"></td>
          <td ng-bind="producto.cantidad_transferencia"></td>
          <td ng-bind="producto.cantidad_apartado"></td>
          <td ng-bind="producto.cantidad_garantia_cliente"></td>
          <td ng-bind="producto.cantidad_garantia_zegucom"></td>
          <td  ng-if="!vm.readOnly">
            <input type="number" min="0" value="0"
                   ng-model="vm.pretransferencias[producto.productos_sucursales_id]['pretransferencia']"
                   ng-blur="vm.cambiarPretransferenciaMaxima(producto.productos_sucursales_id)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="acciones" ng-if="!vm.readOnly">
      <button class="button primary" ng-click="vm.guardarPretransferencias()">Guardar</button>
    </div>
  </article>
</section>
