<nav>
  <ul class="pagination" ng-if="1 < pages.length || !autoHide">
    <li class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
      <a class="page-link" href="" aria-label="Atrás" ng-click="setCurrent(1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Atrás</span>
      </a>
    </li>
    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
      <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
    </li>
    <li class="page-item" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
        ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
      <a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>
    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
      <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
    </li>
    <li class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
      <a class="page-link" href="" aria-label="Siguiente" ng-click="setCurrent(pagination.last)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
  </ul>
</nav>
