<!-- Alerts -->
<div class="alert success" role="alert" ng-show="vm.message && !vm.error">
  <p><strong>¡Éxito!</strong> {{vm.message}}</p>
</div>
<div class="alert danger" role="alert" ng-show="vm.error">
  <p><strong>¡Error!</strong></p>
  <ul>
    <li ng-repeat="(field,messages) in vm.error.error">
      <strong>{{field}}:</strong>
      <ul>
        <li ng-repeat="message in messages">{{message}}</li>
      </ul>
    </li>
  </ul>
</div>

<div class="card">
  <div class="header">
    Editar
  </div>
  <div class="block">
    <form class="item-form" name="vm.margenForm">
      <fieldset>
        <legend>Márgen #<strong>{{vm.margen.id}}</strong></legend>

      </fieldset>
    </form>
    <button type="button" class="button primary" ng-click="vm.save()">Guardar cambios</button>
    <a ui-sref="margenIndex" class="button secondary">Regresar</a>
  </div>
</div>

