<div class="search-card">
  <div class="header">
    Familias
  </div>
  <div class="block">
    <div class="row">
      <div class="form">
        <form>
          <div class="field">
            <label>Buscar:</label>
            <input type="text" ng-model="vm.search" autofocus>
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="action-buttons" role="group" aria-label="Acciones">
          <button type="button" class="create" ui-sref="familiaNew"><i></i> Crear nueva</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="item-table">
    <thead class="sortable">
    <tr>
      <th class="action" ng-repeat="sortKey in vm.sortKeys" ng-click="vm.sort(sortKey.key)">
        {{sortKey.name}}
      </th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="familia in vm.familias | orderBy:vm.sortKey:vm.reverse | filter:vm.search | itemsPerPage:15">
      <th scope="row">{{familia.id}}</th>
      <td><a ui-sref="familiaShow({id:familia.id})">{{familia.clave}}</a></td>
      <td>{{familia.nombre}}</td>

      <td class="actions">
        <div class="action-buttons" role="group" aria-label="Acciones">
          <button type="button" class="edit" ui-sref="familiaEdit({id:familia.id})"><i></i></button>
          <button type="button" class="delete" ng-click="vm.eliminarFamilia(familia.id)"><i></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="paginator">
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>
