<!-- /app/producto/new/step2/step2.html -->

<!-- Costos -->
<div class="card">
  <article class="header">
    <h5>Costo y Margen</h5>
  </article>
  <article class="block">

    <section class="row">

      <!-- Costo -->
      <div class="col-sm" ng-class="parentVm.setClass(productoNewForm.costo)">
        <fieldset>
          <label for="costo">Costo: </label>

          <div class="with-icon">
            <span><i class="money"></i></span>
            <input type="number" id="costo" name="costo" placeholder="0.00" ng-model="parentVm.precio.costo"
                   ng-blur="parentVm.calcular()"
                   min="1"
                   numeric
                   required
                   step="100">
          </div>
          <!-- Validation messages -->
          <div ng-messages="productoNewForm.costo.$error" ng-show="productoNewForm.costo.$touched">
            <div ng-messages-include="app/templates/fields/messages.html"></div>
          </div>
        </fieldset>
      </div>

      <!-- Descuento -->
      <div class="col-xsm">
        <fieldset ng-class="parentVm.setClass(productoNewForm.descuento)">
          <label for="descuento">Descuento: </label>

          <div class="with-icon">
            <span>%</span>
            <input type="number" id="descuento" name="descuento" placeholder="0 - 100"
                   ng-model="parentVm.precio.descuento"
                   min="0"
                   max="100"
                   numeric
                   step="10">
          </div>
          <!-- Validation messages -->
          <div ng-messages="productoNewForm.descuento.$error" ng-show="productoNewForm.descuento.$touched">
            <div ng-messages-include="app/templates/fields/messages.html"></div>
          </div>
        </fieldset>
      </div>

      <!-- Spiff -->
      <div class="col-xsm" ng-class="parentVm.setClass(productoNewForm.spiff)">
        <fieldset>
          <label for="spiff">Spiff: </label>

          <div class="with-icon">
            <span><i class="money"></i></span>
            <input type="number" id="spiff" name="spiff" placeholder="0.00" ng-model="parentVm.producto.spiff"
                   min="0"
                   step="1">
          </div>
          <!-- Validation messages -->
          <div ng-messages="productoNewForm.spiff.$error" ng-show="productoNewForm.spiff.$touched">
            <div ng-messages-include="app/templates/fields/messages.html"></div>
          </div>
        </fieldset>
      </div>

      <!-- Margen -->
      <div class="col-mlg">
        <fieldset>
          <label for="margen_id">Margen: </label>
          <select id="margen_id" name="margen_id" ng-model="parentVm.producto.margen_id"
                  ng-options="margen.id as margen.nombre for margen in parentVm.margenes | orderBy:'nombre'"
                  ng-change="parentVm.calcular()">
            <option value="">Seleccione un margen</option>
          </select>
        </fieldset>
      </div>

    </section>
  </article>
</div>

<!-- Precios -->
<div class="card">
  <article class="header">
    <h5>Precios</h5>
  </article>
  <article class="block">

    <!-- Precios y Utilidades -->
    <section class="row">
      <!-- izquierda -->
      <div class="col-lg">

        <!-- Precios del 1 al 5 -->
        <div class="col-lg">

          <!-- Precio 1 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_1)">
            <label>Precios ( $ )</label>

            <div class="with-icon">
              <span>1</span>
              <input type="number" id="precio_1" name="precio_1" placeholder="0.00" ng-model="parentVm.precio.precio_1"
                     ng-blur="parentVm.calcular()"
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_1.$error" ng-show="productoNewForm.precio_1.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>

          <!-- Precio 2 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_2)">
            <div class="with-icon">
              <span>2</span>
              <input type="number" id="precio_2" name="precio_2" placeholder="0.00" ng-model="parentVm.precio.precio_2"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_2.$error" ng-show="productoNewForm.precio_2.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>
          <!-- Precio 3 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_3)">
            <div class="with-icon">
              <span>3</span>
              <input type="number" id="precio_3" name="precio_3" placeholder="0.00" ng-model="parentVm.precio.precio_3"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_3.$error" ng-show="productoNewForm.precio_3.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>
          <!-- Precio 4 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_4)">
            <div class="with-icon">
              <span>4</span>
              <input type="number" id="precio_4" name="precio_4" placeholder="0.00" ng-model="parentVm.precio.precio_4"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_4.$error" ng-show="productoNewForm.precio_4.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>
          <!-- Precio 5 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_5)">
            <div class="with-icon">
              <span>5</span>
              <input type="number" id="precio_5" name="precio_5" placeholder="0.00" ng-model="parentVm.precio.precio_5"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_5.$error" ng-show="productoNewForm.precio_5.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>
        </div>

        <!-- Utilidades de 1 al 5 -->
        <div class="col-lg">
          <fieldset>
            <label>Utilidades ( $ )</label>

            <div class="with-icon">
              <span>1</span>
              <input type="text" id="utilidad_1" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_1">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>2</span>
              <input type="text" id="utilidad_2" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_2">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>3</span>
              <input type="text" id="utilidad_3" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_3">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>4</span>
              <input type="text" id="utilidad_4" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_4">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>5</span>
              <input type="text" id="utilidad_5" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_5">
            </div>
          </fieldset>
        </div>
      </div>

      <!-- derecha -->
      <div class="col-lg">

        <!-- Precios del 6 al 10 -->
        <div class="col-lg">

          <!-- Precio 6 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_6)">
            <label>Precios ( $ )</label>

            <div class="with-icon">
              <span>6</span>
              <input type="number" id="precio_6" name="precio_6" placeholder="0.00" ng-model="parentVm.precio.precio_6"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_6.$error" ng-show="productoNewForm.precio_6.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>

          <!-- Precio 7 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_7)">
            <div class="with-icon">
              <span>7</span>
              <input type="number" id="precio_7" name="precio_7" placeholder="0.00" ng-model="parentVm.precio.precio_7"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_7.$error" ng-show="productoNewForm.precio_7.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>

          <!-- Precio 8 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_8)">
            <div class="with-icon">
              <span>8</span>
              <input type="number" id="precio_8" name="precio_8" placeholder="0.00" ng-model="parentVm.precio.precio_8"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_8.$error" ng-show="productoNewForm.precio_8.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>

          <!-- Precio 9 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_9)">
            <div class="with-icon">
              <span>9</span>
              <input type="number" id="precio_9" name="precio_9" placeholder="0.00" ng-model="parentVm.precio.precio_9"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_9.$error" ng-show="productoNewForm.precio_9.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>

          <!-- Precio 10 -->
          <fieldset ng-class="parentVm.setClass(productoNewForm.precio_10)">
            <div class="with-icon">
              <span>10</span>
              <input type="number" id="precio_10" name="precio_10" placeholder="0.00"
                     ng-model="parentVm.precio.precio_10"
                     disabled
                     min="1" numeric required step="1">
            </div>
            <!-- Validation messages -->
            <div ng-messages="productoNewForm.precio_10.$error" ng-show="productoNewForm.precio_10.$touched">
              <div ng-messages-include="app/templates/fields/messages.html"></div>
            </div>
          </fieldset>
        </div>

        <!-- Utilidades de 6 al 10 -->
        <div class="col-lg">
          <fieldset>
            <label>Utilidades ( $ )</label>

            <div class="with-icon">
              <span>6</span>
              <input type="text" id="utilidad_6" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_6">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>7</span>
              <input type="text" id="utilidad_7" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_7">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>8</span>
              <input type="text" id="utilidad_8" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_8">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>9</span>
              <input type="text" id="utilidad_9" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_9">
            </div>
          </fieldset>
          <fieldset>
            <div class="with-icon">
              <span>10</span>
              <input type="text" id="utilidad_10" placeholder="0.00" disabled ng-model="parentVm.utilidad.utilidad_10">
            </div>
          </fieldset>
        </div>
      </div>
    </section>

  </article>
</div>
<div class="pull-right">
  <a ng-click="vm.go(1)" class="button secondary">Atrás</a>
  <input type="submit" class="button primary" value="Guardar cambios" ng-disabled="productoNewForm.$invalid"
         ng-click="parentVm.save()">
</div>
