<article class="card">
  <section class="header">
    <h4>Cliente</h4>
  </section>
  <section class="block">

    <!-- Nav tabs -->
    <ul class="tabs" role="tablist" ng-init="tab = 'datos-generales'">

      <li class="nav-item">
        <a ng-click="tab = 'datos-generales'" ng-class="{ active: tab === 'datos-generales' }" role="tab" data-toggle="tab">Datos Generales</a>
      </li>
      <li class="nav-item">
        <a ng-click="tab = 'tabuladores'" ng-class="{ active: tab === 'tabuladores' }" role="tab" data-toggle="tab">Tabuladores</a>
      </li>
      <li class="nav-item">
        <a role="tab" data-toggle="tab">Razones sociales</a>
      </li>
      <li class="nav-item">
        <a role="tab" data-toggle="tab">Movimientos</a>
      </li>
      <li class="nav-item edit-tab">
        <a ui-sref="clienteEdit({id:vm.cliente.id})" role="tab"><i></i> Editar</a>
      </li>
      <li class="nav-item back">
        <a ui-sref="clienteIndex" role="tab"><i></i> Regresar</a>
      </li>
    </ul>

    <div class="cliente-form">
      <fieldset>
        <!-- Tab panels -->
        <article>

          <!-- Datos Generales -->
          <section ng-show="tab === 'datos-generales'">
            Datos generales
          </section>

          <!-- Tabuladores -->
          <section ng-show="tab === 'tabuladores'">
            Tabuladores
          </section>

          <!-- Razones Sociales -->
          <section role="tabpanel" class="fade" id="razones-sociales">
            <div ui-view="razones-sociales"></div>
          </section>

          <!-- Movimientos -->
          <section role="tabpanel" class="fade" id="movimientos">
            <div ui-view="movimientos"></div>
          </section>
        </article>
      </fieldset>
    </div>
  </section>
</article>
