<!-- app/salida/edit/edit.html -->
<div class="card">
  <div class="header">
    <h4>Editar salida</h4>
  </div>
  <div class="block">
    <form class="item-form salida-form" name="salidaNewForm" ng-submit="vm.create()" novalidate>
      <legend>Ingrese los datos para crear la nueva salida</legend>

      <div class="salida-datos">
        <fieldset class="salida-fieldset">
          <label for="motivo">Motivo:</label>
          <textarea rows="2" type="text" id="motivo" name="motivo" maxlength="140" ng-model="vm.salida.motivo"
                    required></textarea>
        </fieldset>

        <fieldset class="salida-fieldset">
          <label for="fecha_salida">Fecha salida:</label>
          <input type="date" id="fecha_salida" name="fecha_salida" ng-model="vm.salida.fecha_salida">
        </fieldset>
      </div>

      <div class="salida-detalle-datos">
        <div class="salida-fieldset salida-detalle-cantidad">
          <fieldset>
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="0" ng-model="vm.salidaDetalle.cantidad">
          </fieldset>
        </div>

        <div class="salida-fieldset salida-detalle-upc">
          <fieldset>
            <label for="upc">UPC:</label>
            <input type="text" id="upc" name="upc" ng-model="vm.salidaDetalle.upc">
          </fieldset>
        </div>

        <div class="salida-fieldset salida-detalle-agregar">
          <fieldset>
            <a ng-click="vm.agregarSalidaDetalle(vm.salidaDetalle)" class="button primary">Agregar</a>
          </fieldset>
        </div>
      </div>

      <table class="item-table">
        <thead>
        <tr>
          <th class="thin">Cantidad</th>
          <th>UPC</th>
          <th>Clave</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="salidaDetalle in vm.salida.detalles">
          <td>{{salidaDetalle.cantidad}}</td>
          <td>{{salidaDetalle.producto.upc}}</td>
          <td>{{salidaDetalle.producto.clave}}</td>
          <td>{{salidaDetalle.producto.descripcion}}</td>
          <td class="actions">
            <div class="action-buttons" role="group" aria-label="Acciones">
              <button type="button" class="delete" ng-click="vm.removerSalidaDetalle(salidaDetalle)"><i></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="actions">
        <a ng-click="vm.back()" class="button secondary">Regresar</a>
        <input type="submit" class="button primary" ng-disabled="salidaNewForm.$invalid" value="Guardar cambios">
      </div>
    </form>
  </div>
</div>
