.transferencia-detalles {

  margin-top: 25px;

  .agregar-producto {
    @include make-row();

    padding-bottom: 1rem;

    .agregar,
    .cantidad,
    .upc {
      @include make-col();
    }

    .cantidad,
    .upc {
      @include make-col-span(5);
    }

    .agregar {
      @include make-col-span(2);

      margin-top: 2rem;
    }
  }
}
