<div class="search-card">
  <div class="header">
    <h4>Productos con precios pendientes por revisar</h4>
  </div>
</div>

<div class="table-responsive">
  <table class="item-table">
    <thead class="sortable">
    <tr>
      <th class="action" ng-repeat="sortKey in vm.sortKeys" ng-click="vm.sort(sortKey.key)">
        {{sortKey.name}}
      </th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="producto in vm.productos | orderBy:vm.sortKey:vm.reverse | filter:vm.search | itemsPerPage:15">
      <th scope="row">{{producto.id}}</th>
      <td ng-bind="producto.clave">/td>
      <td ng-bind="producto.upc"></td>
      <td ng-bind="producto.numero_parte"></td>
      <td>{{(producto.descripcion | limitTo:55) + '...'}}</td>

      <td class="actions">
        <div class="action-buttons" role="group" aria-label="Acciones">
          <button type="button" class="edit" ng-click="vm.revisar($index)"><i></i> Revisar</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="paginator">
  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>
