.main-container {
  @include make-container();
  @include make-row();

  margin: 0;
  padding: 0;

  .module-container {
    @include make-col();
    @include make-col-span(9);

    max-height: 90vh;
    overflow: auto;
  }

  .notification-bar {
    @include make-col();
    @include make-col-span(3);

    max-height: 90vh;
    overflow: hidden;
  }
}
