.main-container {
  @include make-container();
  @include make-row();

  margin: 0;
  padding: 0;

  .module-container{
    @include make-col();
    @include make-col-span(9);

    max-height: 90vh;
    overflow: auto;

    [ui-view] {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &.ng-leave, &.ng-enter-active{
        opacity: 1;
      }

      &.ng-enter, &.ng-leave-active{
        opacity: 0;
      }
    }
  }
}
