.main-container {
  @extend .container-fluid;
}

.fixed{
  @media (min-width: 106.2rem) {
    max-height: 900px;
  }
  max-height: 590px;
  overflow: auto;
}

.view {
  @include make-row();

  .module-container {
    @include make-col();
    @include make-col-span(9);
    @extend .fixed;
  }

  .notification-bar {
    @include make-col();
    @include make-col-span(3);
    @include make-col-offset(9);
    @extend .fixed;
    position: fixed;
  }
}
