.main-container {
	@extend .container-fluid;

	.view {
		@include make-row();
	}
}

.view {
  position: relative;
	.module-container {
		@include make-col();
		@include make-col-span(9);
	}
	.notification-bar {
		@include make-col();
		@include make-col-span(3);
    overflow: auto;
    height: 100%;
	}
}
