.item-table {
  @extend .table;
  @extend .table-hover;

  thead {
    background-color: $gray-suit;
    color: $alto;
  }

  tr {
    &.failed {
      background-color: $persian-red-faded;
    }

    &.valid {
      @extend .table-success;
    }

    &.invalid {
      @extend .table-danger;
    }
  }

  td {
    &.actions {
      @extend .text-center;

      .action-buttons {
        min-width: 100px;
      }
    }

    &.with-input {
      padding-left: 3px;
      padding-right: 3px;

      & > input {

        [type='text'] {
          @extend .text-center;
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
  }

  th {
    &.action {
      transition: all 500ms ease-in-out;

      &:hover {

        background-color: $mine-shaft;
        color: $white;
        cursor: pointer;
        transition: all 500ms ease-in-out;
      }
    }

    &.thin {

      width: 20%;
    }

    &:last-child {
      text-align: center;
    }

    &:hover {

      .with-input {

        > input {
          [type='text'] {
            background-color: #F5F5F5;
          }
        }
      }
    }
  }


  .truncate {
    @include transition('all 0.5s ease-in-out');

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }
}
