.with-error {
  @extend .has-error;

  input:not([type="submit"]) {
    @extend .form-control-error;
  }

  .with-icon{
    @extend .has-error;
  }
}

.with-success {
  @extend .has-success;

  input:not([type="submit"]){
    @extend .form-control-success;
  }
  .with-icon{
    @extend .has-success;
  }

}

.with-warning {
  @extend .has-warning;

  input:not([type="submit"]) {
    @extend .form-control-warning;
  }

  .with-icon{
    @extend .has-warning;
  }
}

.formly-validation-messages {
  @include make-row();
  @include make-col();
  @include make-col-span(9);
  @include make-col-offset(3);
  padding-left: 23px;
}

div[ng-messages] {
  @extend .help-block;
  font-size: .8rem;
}
