.notification-type {

  @include make-col();
  @include make-col-span(0.5);

  height: 70px;
  padding-right: 0;

  &.ws-info {
    background-color: $endeavour;
  }

  &.ws-warn {
    background-color: $carrot-orange;
  }

  &.ws-error {
    background-color: $persian-red;
  }
}
