.notification-type {

  @include make-col();
  @include make-col-span(0.5);

  height: 70px;
  padding-right: 0;

  &.ws-info {
    background-color: darkcyan;
  }

  &.ws-warn {
    background-color: darkorange;
  }
}
