.salida-detalle-datos {

  @include make-container();
  @include make-row();

  margin-top: 20px;

  .salida-fieldset {

    @include make-col();

    label { float: left; }
  }

  .salida-detalle-cantidad {

    @include make-col-span(3);

    input { width: 60% !important; }
  }

  .salida-detalle-upc {

    @include make-col-span(6);

    input { width: 90% !important; }
  }

  .salida-detalle-agregar {

    @include make-col-span(3);

    fieldset {

      margin-top: 36px;
    }
  }
}
