@import '../transferencias/transferencia-datos';
@import '../transferencias/transferencia-detalles';

.transferencia-datos,
.transferencia-detalles {
  @include make-row();

  text-align: left;

  header {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
