.action-buttons {
  @extend .btn-group;
}

i {
  @extend .fa;
}

.create {
  @extend .btn;
  @extend .btn-primary;
  font-size: inherit;

  i {
    @extend .fa-plus;
  }
}

.edit {
  @extend .btn;
  @extend .btn-success;
  font-size: inherit;

  i {
    @extend .fa-pencil;
  }
}

.delete {
  @extend .btn;
  @extend .btn-danger;
  font-size: inherit;

  i {
    @extend .fa-trash;
  }
}
