.alert {
  opacity: 1;

  &.ng-hide-add, &.ng-hide-remove {
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
  }

  &.ng-hide {
    opacity: 0;
  }

  a{
    @extend .alert-link;
  }

  button{
    @extend .close;

    span.sr{
      @extend .sr-only;
    }
  }
}

.dismissible{
  @extend .alert-dismissible;
  @extend .fade;
  @extend .in;
}

.success {
  @extend .alert;
  @extend .alert-success;
}

.danger {
  @extend .alert;
  @extend .alert-danger;
}

.info {
  @extend .alert;
  @extend .alert-info;
}

.warning {
  @extend .alert;
  @extend .alert-warning;
}

