table.item-table {
  @extend .table;
  @extend .table-hover;

  thead {
    background-color: $gray-suit;
    color: $alto;

  }

  th.action {
    transition: all 500ms ease-in-out;
    &:hover {
      background-color: $mine-shaft;
      color: $white;
      cursor: pointer;
      transition: all 500ms ease-in-out;
    }
  }

  .action-buttons {
    @extend .btn-group;

    .edit {
      @extend .btn;
      @extend .btn-success;
    }

    .delete {
      @extend .btn;
      @extend .btn-danger;
    }
  }
}
