table.item-table {
  @extend .table;
  @extend .table-hover;

  thead {
    background-color: $gray-suit;
    color: $alto;
  }

  th.action {
    transition: all 500ms ease-in-out;
    &:hover {
      background-color: $mine-shaft;
      color: $white;
      cursor: pointer;
      transition: all 500ms ease-in-out;
    }
  }

  th:last-child{
    text-align: center;
  }

  td.actions{
    text-align: center;
    .action-buttons{
      min-width: 100px;
    }
  }
}
